*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
*.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

nodebias.egg-info
nodebias.egg-info/*
nodebias/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
nodebias/tests/tmp/*

## Pytorch tmp savings
*-ubyte

## Don't save equinox models
*.eqx

## Ignore the example tmp
examples/tmp/

## Cprofile
examples/runs/cprofile/*

## Data
examples/pendulums/tmp/*
examples/dahlquist/tmp/*
examples/lotka-voltera/tmp/*
examples/lotka-voltera/lightning_logs/*

## Ingnore all folders named "tmp", recursively
**/tmp/
