*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

nodax.egg-info
nodax.egg-info/*
nodax/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
nodax/tests/tmp/*

## Pytorch tmp savings
*-ubyte

## Don't save equinox models
*.eqx

## Ignore the example tmp
examples/tmp/

## Cprofile
examples/runs/cprofile/*

## Data
examples/pendulums/tmp/*
examples/dahlquist/tmp/*
examples/lotka-voltera/tmp/*
examples/lotka-voltera/lightning_logs/*
examples/glycolytic-oscillator/tmp/*
examples/pendulum/tmp/*


## Tmp and Runs
examples/lotka-voltera/runs/*
examples/glycolytic-oscillator/runs/*
examples/pendulum/runs/*


## Ingnore all folders named "tmp", recursively
**/tmp/
venv/*


!examples/pendulum/runs/30012024-165151
!examples/lotka-voltera/runs/27012024-155719

!examples/lotka-voltera/runs/12022024-223202
!examples/lotka-voltera/runs/15022024-133847
!examples/lotka-voltera/runs/SampleSizeExperiment
