*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
# *.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

nodax.egg-info
nodax.egg-info/*
nodax/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
nodax/tests/tmp/*

## Pytorch tmp savings
*-ubyte

# ## Don't save equinox models
# *.eqx

## Ignore the example tmp
examples/tmp/

## Cprofile
examples/runs/cprofile/*

## Tmp data
examples/pendulums/tmp/*
examples/dahlquist/tmp/*
examples/lotka-voltera/tmp/*
examples/lotka-voltera/lightning_logs/*
examples/glycolytic-oscillator/tmp/*
examples/pendulum/tmp/*
examples/gray-scott/tmp/*
examples/navier-stokes/tmp/*
examples/selkov-model/tmp/*
examples/forced-oscillator/tmp/*


## Runs
examples/lotka-voltera/runs/*
examples/glycolytic-oscillator/runs/*
examples/pendulum/runs/*
examples/gray-scott/runs/*
examples/navier-stokes/runs/*
examples/forced-oscillator/runs/*
examples/selkov-model/runs/*

## Ingnore all folders named "tmp", recursively
**/tmp/
venv/*


!examples/pendulum/runs/30012024-165151
!examples/lotka-voltera/runs/27012024-155719
!examples/lotka-voltera/runs/06032024-164034

!examples/lotka-voltera/runs/08032024-110732
!examples/lotka-voltera/runs/09032024-155347

!examples/lotka-voltera/runs/MseSequentialExp

!examples/lotka-voltera/runs/12022024-223202
!examples/lotka-voltera/runs/15022024-133847
!examples/lotka-voltera/runs/SampleSizeExperiment
!examples/lotka-voltera/runs/MapeExperiment
!examples/lotka-voltera/runs/ContextPoolSizeExperiment
!examples/lotka-voltera/runs/10042024-171620
!examples/lotka-voltera/runs/11042024-060422-Special

!examples/glycolytic-oscillator/runs/16022024-205415
!examples/glycolytic-oscillator/runs/10032024-124158

!examples/gray-scott/runs/25022024-033325
!examples/gray-scott/runs/25022024-125454
!examples/gray-scott/runs/15032024-180946

!examples/forced-oscillator/runs/02032024-120306

!examples/selkov-model/runs/02032024-120306
!examples/selkov-model/runs/23032024-210002
!examples/selkov-model/runs/23032024-233458


!examples/lotka-voltera/runs/SmallContextExperiment

!examples/gray-scott/runs/30032024-091851
!examples/glycolytic-oscillator/runs/24032024-125527
!examples/pendulum/runs/28032024-201048

!examples/lotka-voltera/runs/28032024-212427
!examples/gray-scott/runs/31032024-164433
!examples/gray-scott/runs/31032024-222842
!examples/gray-scott/runs/01042024-065008
!examples/gray-scott/runs/01042024-114137
!examples/gray-scott/runs/03042024-111859
!examples/gray-scott/runs/04042024-063322
!examples/gray-scott/runs/06042024-102728
!examples/gray-scott/runs/05042024-183849
!examples/gray-scott/runs/06042024-210906
